@import "variables";

.wrapper {
  width: 100%;
  font-family: $font-montserrat;
  font-size: 18px;

  .title {
    display:flex;
    justify-content: space-between;
    background-color: $orange;
    padding: 12px 10px;
    color: white;
    cursor: pointer;
    border-radius: 7px;    
  }
  .content {
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: $orange;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 10px;
    
  }
}