@import "variables";

.wrapper {
  width: 100%;
  font-family: $font-montserrat;
  font-size: 18px;

  .title {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: $orange;
    padding: 12px 10px;
    color: white;
    border-radius: 7px;
  }
  .content {
    background-color: $lightergrey;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: $orange;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    max-height: 0;
    transition: all 1s ease ;
    overflow: hidden;

    .contentStyle {
      padding: 10px;
    }

    &.collapsed {
      max-height: 1000px;
    }
  }
}
