@import "variables";

.description {
  font-family: $font-montserrat;
  color: $orange;
  display: flex;
  flex-direction: column;
  width: 1240px;
  align-items: center;
  margin: auto;
  font-size: 18px;

  .block {
    display: flex;
    flex-direction: row;
    width: 100%;

    .leftBlock {
      flex: 1;
      display: flex;
      flex-direction: column;

      .title {
        font-size: 36px;
        margin-bottom: 15px;
      }
      .location {
        margin-bottom: 30px;
      }

      .tag {
        background-color: $orange;
        color: white;
        border-radius: 10px;
        margin-right: 10px;
        padding: 5px 15px;
        font-size: 14px;
      }
    }

    .rightBlock {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .host {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .hostName {
          line-height: 1.5;
        }

        img {
          border-radius: 100%;
          margin-left: 20px;
        }
      }

      .rating {
        margin-top: 10px;
        font-size: 30px;
      }
    }
  }
  .collapseBlock {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px 0;
    min-width: 100%;

    .wrapper {
      width: 47%;
    }
  }
}
