@import "variables";

.errorpage {
    font-family: $font-montserrat;
    color: $orange; 
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 288px;
        margin: 5% 0;
    }

    h2 {
        font-size: 36px; 
        margin-bottom: 5%;
    }

    a {
        color: $orange; 
        margin-bottom: 5%;
    }
}